{
    "presets": [
        [
            "env",
            {
                "targets": {
                    "node": "current",
                    "browsers": "> 5%"
                },
                "useBuiltIns": true
            }
        ],
        "stage-0",
        "react"
    ]
}
